
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post" action="/Home/CreateTable/">
    ROW<input type="text" name="row"/><br />
    MinValue<input type="text" name="min"/><br />
    MaxValue<input type="text" name="max"/><br />
    
    <input type="submit" value="Create"/>
</form>
